<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/sendEmail" method="post">
    <label>
        收件人：<input type="text" name="addresseeEmail" required="required"/><br>
    </label>
    <label>
        邮件标题：<input type="text" name="emailTitle" required="required"/><br>
    </label>
    <label>
        邮件内容：<input type="text" name="emailContent"/><br>
    </label>
    <label>
        <input type="submit" value="发送" style="text-align: center">
    </label>
</form>
</body>
</html>